/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* すべてのページに適用 */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

html{
    font-size: 20px;
    /*Zen Old Mincho（ZENオールド明朝）を全書式に適用*/
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
}

*{
    /*box-sizing: border-boxで、すべての要素に対してwidth,heightプロパティで指定する値をボーダー領域まで含むように設定（レスポンシブ対応のため）*/
    box-sizing: border-box;
}

body{
    margin: 0 0 0 0;    
}

p,li,td{
    line-height: 1.7;   /*行間の設定*/
}



a:link{ /* :link：疑似クラス。href属性が設定されているものをさす。*/
    color: #253958;
    text-decoration: none;
}

a:visited{  /*:visited：疑似クラス。リンク先が訪問済の状態をさす。*/
    color: #253958;
    text-decoration: none;
}

a:hover{    /*:hover：疑似クラス。マウスポインタがリンクに乗っている状態をさす。*/
    color: #f07d34;
    text-decoration: underline;
}

a:active{   /*:active：疑似クラス。マウスポインタが押されている状態をさす。*/
    color: #f07d34;
    text-decoration: underline;
}

img{
    max-width: 100%; /*レスポンシブ対応のため、親要素のボックス幅（ここではmain）に合わせて伸縮させる。*/
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* すべてのページのヘッダーに適用 */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.nav ul{
    margin: 30px 0 0 0; /*ナビゲーション項目とタイトルとの間にスペースを入れる*/
    padding: 0;         /*ナビゲーション項目を左に寄せる*/
    list-style-type: none;  /*list-style-type：<li>番号なしリスト項目の点を消す。*/
    display: flex;  /*display: flex：同一の親要素を持つ兄弟要素を横一列に並べる。*/
    justify-content: center;  /*フレックスボックスに指定した項目の配置を中央に設定。*/
    gap: 50px;  /*gap：フレックスボックスの項目間にスペースを入れる。*/
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* すべてのページのヒーロー画像に適用 -  */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.hero{
    padding: 137px 0;               /*画像のパディングを上下137pxとしてデフォルト設定する。*/
    background-repeat: no-repeat;   /*hero内の背景画像が繰り返されないようにするために設定*/
    background-position: center;    /*hero内の背景画像がボックスの中心にくるように設定*/
    background-size: cover;         /*ブラウザサイズに合わせて伸縮をする場合にボックス全体を塗りつぶすように表示するよう設定*/
    color:#FFFFFF;              
    text-align: center;
    font-weight:bold;
    text-shadow:2px 2px 0px #999999; /*文字に影付き*/
}

.hero.index{
    padding: 180px 0;
    background-image: url(../images/top.bmp);
    color:#000000;
}

.hero.practice{
    background-image: url(../images/back1.JPG);
}

.hero.joining{
    background-image: url(../images/back2.JPG);
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* すべてのページのメインに適用 */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main{
    margin: 90px auto 90px auto;    /*レスポンシブ対応ため、左右をautoに設定。*/
    max-width: 1000px;              /*max-width：伸縮する最大幅を1000pxに設定。*/
}

main h2{
    margin: 60px 0 20px 0;
    border-bottom: 2px solid #253958;
    padding: 0 0 5px 0;
    color: #253958;
    font-size: 1.3rem;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* すべてのページのフッターに適用 */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.copyright{
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #253958;
    color: #FFFFFF;
    text-align: center;  
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* 個別のスタイル */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* index.html */
.activitis{
    /*画像をグリッドレイアウトで、３行３列にする。*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


/* practice.html */
.scheduletable{
    border-collapse: collapse;  /*境界を共有に設定。*/
}

.scheduletable th, .scheduletable td{   /*罫線及びフォントの位置を設定。*/
    border: 1px solid #dbdbdb;
    padding: 20px;
    text-align: center;
    vertical-align: middle;

}

.week{
    width: 100px;           /*セル幅の調整*/
}

.timezone{
    width: 280px;           /*セル幅の調整*/
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*モバイル対応*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media(max-width: 1024px){ 
    html{
        font-size: 16px;
    }

    .nav ul{    /*画面に入りきらない場合は、ナビゲーションを２行表示するように記述する*/
        flex-wrap: wrap;
        gap: 20px;
    }
    main{   /*テキストや画像が画面の両端とくっついてしまうため、余白を設定する。*/
        padding: 0 4%;
    }
    /* index.html */
    .hero.index{   /*ヒーロー画像が画面内に収まり切れない可能性があるため、大きさを調整する。*/
        padding: 15vh 0;
    }
    .activitis{     /*画像が3列では狭く感じるため、2列に変更する。*/
        grid-template-columns: 1fr 1fr;
    }
}
